<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>EmailSender</servlet-name>
		<servlet-class>com.smsfactory.EmailSenderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SMSFactory</servlet-name>
		<servlet-class>com.smsfactory.SMSFactoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SMSFactory</servlet-name>
		<url-pattern>/smsfactory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailSender</servlet-name>
		<url-pattern>/_ah/mail/*</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/_ah/mail/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
